{{define "content"}}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-success">
            <div class="panel-heading"><i class="fa fa-info-circle"></i> Example</div>
            <div class="panel-body bg-success">
                <form action="/sendmail" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="template">Template</label>
                        <input id="template" name="template" type="file" required>
                    </div>
                    <div class="form-group">
                        <label for="csv">CSV</label>
                        <input id="csv" name="csv" type="file" required>
                    </div>
                    <button class="btn btn-success btn-block" type="submit"><i class="fa fa-sign-in"></i> Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}
